.carusela-catalog-section__carusela {
    display: flex;
    height: var(--carousel-height);
    overflow-x: auto;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap-md);
    padding: var(--padding-sm);
    scroll-behavior: smooth;
    scrollbar-color: var(--color-surface) transparent;
}

.carusela-catalog-section__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: var(--card-width);
    height: var(--carousel-height);
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    padding: var(--card-padding);
    box-sizing: border-box;
    text-align: center;
}

.carusela-catalog-section__item > .car-list__more-info-button {
   min-width: 64px;
}

.carusela-catalog-section__img {
    width: 100%;
    height: var(--image-height);
    object-fit: fill;
}

.carusela-catalog-section__item-title {
    font-size: var(--font-size-md);
    font-weight: 600;
    margin: 0.5rem 0;
    font-family: var(--text-font);
}