.carusela-catalog-section__carusela {
    display: flex;
    height: 334px;
    overflow-x: auto;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: .25rem;
    scroll-behavior: smooth;
    scrollbar-color: #D9D9D9 transparent;
    
    
}

.carusela-catalog-section__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 310px;
    height: 334px;
    border: none;
    background-color:  #D9D9D9;
    border-radius: 8px;
    padding: 11px;
    box-sizing: border-box;
    text-align: center;
}
.carusela-catalog-section__item > .car-list__more-info-button{
   min-width: 64px;
}

.carusela-catalog-section__img {
    width: 100%;
    height: 190px;
    object-fit: fill;
}
.carusela-catalog-section__item-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0.5rem 0;
    font-family: var(--text-font);
}