.contact-us-section {
    max-width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}



.contact-us-section__car-awards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.contact-us-section__img{
    max-width: 100%;
    height: 190px;
}

.contact-us-section__text-container {
    display: flex;
    margin-top: -5px;
    max-width: 100%;
    background-color: #EEEEEE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem ;
    text-align: center;
    font-family: var(--text-font);
}

.contact-us-section__description{ 
    text-align: left;
}


.contact-us-section__wheel-programme {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--text-font);
}


.contact-us-section__wheel-programme > .car-list__more-info-button {
    font-size:15px; ;
}




.contact-us-section__wheel-programme-img{
    max-width: 339px;
    border-radius: 8px;
    height: auto;
}


.contact-us-section__contact-us {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    background-color: #4d4d4d;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    font-family: var(--text-font);
}


.contact-us-section__contact-us >.car-list__more-info-button    {
    font-size:15px; ;
    border: 1px solid black;
    padding: 20px 30px 20px 30px;
}


@media screen and (min-width: 768px) {
    .contact-us-section__text-container {
        max-width: 750px;
    }


    .contact-us-section__text-container {
        background: none;
        position: absolute;
        margin-top: -25%;
        color: white;
        text-align: left;
        align-items: flex-start;
        width: 530px;

    }

    .contact-us-section__wheel-programme {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }


    

    .contact-us-section__contact-us {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 40px 0 40px;
    }

    .contact-us-section__img{
        width: 100%;
        height: 800px;
    }

    .contact-us-section__contact-us >.car-list__more-info-button    {
        height: 50px;
        align-content: center;
        padding: auto;
        text-align: center;
        padding: 0 40px 0 40px;
    }
}