.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.footer__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.footer__input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.footer__input {
    padding: 0 20px;
    width: 202px;
    border-radius: 80px;
    font-size: 16px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    height: 51px;
   
    
}

.footer__subscribe-button {
    padding: 10px;
    border: none;
    border-radius: 90px ;
    font-size: 16px;
    height: 53px;
    width: 136px;
    background-color: #fff;
    border: white 1px solid;
    color: #000;
    cursor: pointer;    
    margin-left: -50px;

}
.footer__input::placeholder {
    color: #fff;
    font-size: 12px;
}


.footer_social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__checkbox-label {
    font-size: 12px;
    gap: 5px;
    color: #fff;
}

.footer__checkbox-spacer {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 5px;
}

.footer__privacy-policy-link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.footer__checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 2.5px;
    border: 1px solid #fff;
    background-color: transparent;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.footer__checkbox:checked {
    background-color: transparent;
}
.footer__checkbox:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.footer__menus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__menu-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer__menu-item {
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
}
