.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: var(--space-md) 0;
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding-bottom: 15px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
    max-width: 400px;
}

.footer__input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 var(--space-md);
}

.footer__input {
    padding: 0 var(--space-md);
    width: 202px;
    height: var(--input-height);
    border-radius: var(--radius-pill-lg);
    font-size: var(--font-size-md);
    background: none;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.footer__input::placeholder {
    color: var(--color-white);
    font-size: var(--font-size-xs);
}

.footer__subscribe-button {
    padding: var(--space-sm);
    border-radius: var(--radius-pill-xl);
    font-size: var(--font-size-md);
    height: var(--button-height);
    width: 136px;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    margin-left: -50px;
}

.footer_social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}

.footer__checkbox-label {
    font-size: var(--font-size-xs);
    gap: var(--space-xs);
    color: var(--color-white);
}

.footer__checkbox-spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
}

.footer__privacy-policy-link {
    color: var(--color-white);
    text-decoration: underline;
    cursor: pointer;
}

.footer__checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-white);
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.footer__checkbox:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--color-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer__menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-lg);
    flex-wrap: wrap;
    margin-top: var(--space-md);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.footer__menu-title {
    font-weight: 600;
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-sm);
}

.footer__menu-item {
    font-size: var(--font-size-sm);
    cursor: pointer;
    opacity: 0.6;
}

.footer__backup {
    font-size: var(--font-size-xs);
    border-radius: 50%;
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--color-white);
    margin-top: var(--space-md);
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: var(--space-xl);
    width: var(--space-xl);
}



@media screen and (min-width: 768px) {
    .footer__menus {
        flex-direction: row;
        gap: var(--space-xl);
    }

    .footer__input-button-container {
        margin: 0;
    }
}