
.header {
    width: 100%;
    font-family: var(--header-font);
    background-color: #EEEEEE;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
    max-width: 1200px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__logo-img{
    width: 30px;
    height: 30px;
}

.header__nav-icon{
    cursor: pointer;
    padding: 5px;
}


.header_nav {
    display: none;
}


@media screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .header_nav {
        display: block;
    }

    .header__logo{
      display: flex;
      justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--text-font);
    }
}   