.car-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0 20px 0;
}

.car-list__item {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    height: 90%;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #D9D9D9;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.car-list__info {
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    width: 100%;
    font-family: var(--text-font);
}
.car-list__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}
.car-list__model {
    font-size: .8rem;
    margin: 0;
}

.car-list__img {
    width: 100%;
    height: auto;
    display: block;
}


.car-list__more-info-button {
    max-width: 100%;
    height: 45;
    min-width: 64px;
    padding-top: 12px;
    padding-right: 23.7px;
    padding-bottom: 12px;
    padding-left: 22.5px;
    opacity: 1;
    border-radius: 45px;
    border: none;
    background-color: #FFFFFF
}


.car-list__color-choices {
        display: none;
    }

@media screen and (min-width: 768px) {

    .car-list__extra-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 8px;
        margin-top: 10px;
        align-items: center;
    }
 .car-list__color-choices {
        display: flex;
        gap: 8px;
    }

    .car-list {
     display: inline-grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     row-gap: 30px;
     justify-items: center;
     align-items: center;

    }

 
    
}