.main-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.main-info-section__container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
    }

.main-info-section__text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.main-info-section__title {
    font-family: var(--header-font);
    font-size: 40px;
    margin: 0;
}


.main-info-section__description {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.main-info-section__image-container {
    width: 100%;
    max-height: 329px;
    position: relative;
}

.main-info-section__img {
    width: 100%;
    height: 329px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}


.main-info-section__img-overlay {
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    margin-inline: auto; 
    width: fit-content;
    color: #fff;
    text-align: left;
    max-width: 100%;
    min-height: 70%;
    max-height: 90%;
    padding: .5rem;
    border-radius: 8px;
    pointer-events: auto; 
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    background-color: #A2A2A282;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info-section__img-text {
    margin: 0;
    font-size: 25px;
    line-height: 1.1;
    font-family: var(--text-font);
}

.main-info-section__img-button {
    font-size: 12px;
    font-family: var(--text-font);
    width: 250px;
    height: 51px;
    background-color: #FFFFFF;
    border-radius: 80px;
    border-width: 1px;
    border: none;

}
